<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
</head>
<body>
    <div style="width: 800px; margin: auto;">
        <div th:replace="/fragments/header :: header"></div>
        <a href="/" th:text="#{product.breadcrumbs.catalog}"></a> > <span th:text="${product.getName()}"></span>
        <h1 th:text="${product.getName()}"></h1>
        <div>
            <div th:text="${product.getName()}"></div>
            <div th:text="#{product.product.price} + ': ' + ${product.getPrice()}"></div>
        </div>
        <form th:method="POST" th:action="@{/product/order}" th:object="${order}">
            <label for="products-amount" th:text="#{product.product.productsamount}"></label>
            <input type="text" id="products-amount" th:field="*{productsAmount}">
            <div style="color:red" th:if="${#fields.hasErrors('productsAmount')}" th:errors="*{productsAmount}"></div>
            <input type="hidden" th:field="*{productId}">
            <input type="submit" th:value="#{product.product.order}">
        </form>
    </div>
</body>
</html>