<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
</head>
<body>
    <a href="/" th:text="#{product.breadcrumbs.catalog}"></a> > <span th:text="${product.getName()}"></span>
    <h1 th:text="${product.getName()}"></h1>
    <div>
        <div th:text="${product.getName()}"></div>
        <div th:text="#{product.product.price} + ': ' + ${product.getPrice()}"></div>
    </div>
    <form th:method="GET" th:action="@{/product/{id}/order(id=${product.getId()})}" th:object="${order}">
        <label for="products-amount" th:text="#{product.product.productsamount}"></label>
        <input type="text" id="products-amount" th:field="*{orderAmount}">
        <div style="color:red" th:if="${#fields.hasErrors('orderAmount')}" th:errors="*{orderAmount}"></div>
        <input type="submit" th:value="#{product.product.order}">
    </form>
</body>
</html>