<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <div style="width: 800px; margin: auto;">
        <div th:replace="/fragments/header :: header"></div>
        <div style="margin-bottom: 20px;">
            Users | <a th:href="@{/admin/products}">Products</a> | <a th:href="@{/admin/orders}">Orders</a>
            <br />
            <br />
            <div th:each="user : ${users}" style="margin-bottom: 20px;">
                <div th:text="${user.getId()} + ', ' + ${user.getFullName()} + ', ' + ${user.getEmail()} + ', ' + ${user.getAddress()}  + ', ' + ${user.getAdmin()}"></div>
            </div>
        </div>
    </div>
</body>
</html>