<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My orders</title>
</head>
<body>
    <div style="width: 800px; margin: auto;">
        <div th:replace="/fragments/header :: header"></div>
        <div style="margin-bottom: 20px;">
            <a th:href="@{/admin}">Users</a> | <a th:href="@{/admin/products}">Products</a> | Orders</a>
            <br />
            <br />
            <div th:each="order : ${orders}" style="margin-bottom: 20px;">
                <div th:text="${order.getId()} + ', ' + ${order.getOrderDate()} + ', ' + ${order.getUser().getFullName()} + ', ' + ${order.getUser().getEmail()} + ', ' + ${order.getProduct().getName()} + ', ' + ${order.getProductsAmount()} + ', ' + ${order.getOrderAmount()} + ', ' + ${order.getOrderStatus()}"></div>
            </div>
        </div>
    </div>
</body>
</html>