<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Admin Page</title>
</head>
<body>
    <div style="width: 800px; margin: auto;">
        <div th:replace="fragments/header :: header"></div>
        <div style="margin-bottom: 20px;">
            <a th:href="@{/admin}">Users</a> | Products | <a th:href="@{/admin/orders}">Orders</a>
            <form th:method="GET" th:action="@{/admin/products/search}">
                <label for="query">Search query:</label>
                <input type="text" th:value="${query}" id="query" name="query">
                <input type="submit" value="Search">
            </form>
            <a th:href="@{/admin/add_product}">Add product</a>
            <br />
            <br />
            <div th:replace="fragments/product_sort :: product_sort"></div>
            <div th:replace="fragments/product_pagination :: product_pagination"></div>
            <div th:each="product : ${products.getContent()}" style="margin-bottom: 20px;">
                <a th:href="@{/admin/product/{id}(id=${product.getId()})}" th:text="${product.getName()}"></a>
                <div th:text="#{index.product.price} + ': ' + ${product.getPrice()}"></div>
                <div th:text="#{index.product.amount} + ': ' + ${product.getAmount()}"></div>
            </div>
            <div th:replace="fragments/product_pagination :: product_pagination"></div>
        </div>
        <a th:href="@{/admin/add_product}">Add product</a>
    </div>
</body>
</html>