<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My e-store</title>
</head>
<body>
    <div style="width: 800px; margin: auto;">
        <div th:replace="/fragments/header :: header"></div>
        <form th:method="GET" th:action="@{/search}">
            <label for="query">Search query:</label>
            <input type="text" th:value="${query}" id="query" name="query">
            <input type="submit" value="Search">
        </form>
        <div th:each="product : ${products}" style="margin-bottom: 20px;">
            <a th:href="@{/product/{id}(id=${product.getId()})}" th:text="${product.getName()}"></a>
            <div th:text="#{index.product.price} + ': ' + ${product.getPrice()}"></div>
        </div>
    </div>
</body>
</html>