<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header" style="margin-bottom: 20px;">
        <a href="/">Home</a><span sec:authorize="hasRole('ROLE_ADMIN')"> | <a href="/admin">Admin Zone</a></span>
        <div sec:authorize="isAuthenticated()">
            <span sec:authorize="hasRole('ROLE_ADMIN')" style="color: red"
                  th:text="'Hello, admin ' + ${#authentication.getPrincipal().getUser().getFullName()}"></span>
            <span sec:authorize="!hasRole('ROLE_ADMIN')"
                  th:text="'Hello, user ' + ${#authentication.getPrincipal().getUser().getFullName()}"></span>
            <br />
            <a href="/profile">View Profile</a>
            <form th:method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout">
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <span>Hello, Guest</span>
            <br />
            <a href="/signin">Sign In</a> or <a href="/signup">Sign Up</a>
        </div>
        <div>
            <span th:text="#{cart.totalproducts} + ': ' + ${session.cart.getTotalItems()}"></span>
        </div>

    </div>
</body>
</html>