<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:if="${orders.getTotalPages()} > 1" th:fragment="order_pagination" class="my-3">
        <ul class="pagination">
            <th:block th:each="page: ${#numbers.sequence(0, orders.getTotalPages() - 1)}">
                <li class="page-item" th:if="${page} != ${orders.getNumber()}">
                    <a th:text="${page} + 1" th:href="@{${#httpServletRequest.getRequestURI()}(page=${page}, per_page=${orders.getSize()}, direction=${orders.getSort().getOrderFor('id').getDirection()})}" class="page-link"></a>
                </li>
                <li class="page-item active" th:if="${page} == ${orders.getNumber()}">
                    <span th:text="${page} + 1" class="page-link"></span>
                </li>
            </th:block>
        </ul>
    </nav>
</body>
</html>