<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${users.getTotalPages()} > 1" th:fragment="user_pagination">
        <th:block th:each="page: ${#numbers.sequence(0, users.getTotalPages() - 1)}">
            <span th:if="${page} == ${users.getNumber()}" th:text="${page} + 1"></span>
            <a th:if="${page} != ${users.getNumber()}" th:text="${page} + 1" th:href="@{${#httpServletRequest.getRequestURI()}(__${query == '' ? '' : 'query=${query}'}__, page=${page}, per_page=${users.getSize()}, direction=${users.getSort().getOrderFor('id').getDirection()})}"></a>
        </th:block>
    </div>
</body>
</html>