<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signin.page.title}"></title>
</head>
<body>
    <form name="signin-form" method="post" action="/process-signin">
        <label for="username">Input Email:</label>
        <input type="text" id="username" name="username">
        <br />
        <label for="password">Input Password:</label>
        <input type="password" id="password" name="password">
        <br />
        <input type="submit" value="Login">

        <div th:if="${param.error}" th:text="#{signin.page.error}" style="color: red"></div>
    </form>
</body>
</html>